body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
    background-color: black;
}
header{
    width: auto;
    height: 200px;
    background-color: black;
}

header > span{
    color: white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header > nav{
    background-color: gray;
    margin-left: 6%;
    width: 90%;
    height: 60%;
    margin-top: 2%;
}

article{
    width: 33%;
    height: 550px;
    background-color: green;
    display: inline-block;
    border: 1px green solid;
    margin-left: 1px;
    padding: 0;
    text-align: center;
}

article:first-child{
    background-repeat: no-repeat;
    background-size: 400%;
}

article{
    border: radius 3px;;
}

article > h1{
    color: white;
    font-size: 30px;
}

article > img:hover{
    opacity: 0.5;
}

article > img{
    width: 60%;
    height: 60%;
}

ul{
    display: flex;
}

ul > li{
    padding: 50px;
}

footer{
    text-align: center;
    margin-top: 5px;
    width: auto;
    height: 190px;
    background-color: white;
    font-size: 60px;
}