body{
    font-size: 18px;
}

@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-Medium.ttf);
}
@font-face {
    font-family: 'Aldrich';
    src: url(Aldrich-Regular.ttf);
}

.open-sans{
    font-family: 'Open Sans';
}

.test{
    font-family: 'Aldrich';
    -webkit-text-fill-color:aliceblue;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:aqua;
}

